script(src="assets/scripts/jquery/dist/jquery.min.js")
script(src="assets/scripts/jquery.validate.min.js")
script(src="assets/scripts/jquery.fancybox.min.js")
script(src="assets/scripts/slick.min.js", defer)
script(src="assets/scripts/splide.min.js")
script(src="assets/scripts/functions.js")

